---
import "./mainLayout.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {
  bluePrimaryColor,
  blueSecondaryColor,
  grayLightColor,
  blueDarkColor,
  whiteColor,
  blackColor,
  maxWidth,
} from "../components/DefineVars.astro";

const {
  frontmatter,
  title,
  summary = "XMLファイルから動画を制作する技術です。",
  thumbnailUrl,
} = Astro.props;

const pageTitle = title ? title : frontmatter.title;

const formattedPageTitle =
  pageTitle === "VSML" ? pageTitle : `${pageTitle} | VSML`;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:site_name" content="VSML" />
    <meta property="og:title" content={formattedPageTitle} />
    <meta property="og:description" content={summary} />
    <meta
      property="og:image"
      content={thumbnailUrl || "https://vsml.pigeons.house/artworks/icon.png"}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content={thumbnailUrl ||
        "https://vsml.pigeons.house/artworks/banner-color.png"}
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style
      define:vars={{
        grayLightColor,
        blueDarkColor,
        whiteColor,
        blackColor,
        bluePrimaryColor,
        blueSecondaryColor,
      }}
      is:global
    >
      html {
        min-height: 100vh;
      }
      body {
        background-color: var(--grayLightColor);
        color: var(--blackColor);
        min-height: 100%;
        position: absolute;
        width: 100%;
      }
      .dark body {
        background-color: var(--blackColor);
        color: var(--whiteColor);
      }
      a {
        color: var(--blueSecondaryColor);
      }
      .dark a {
        color: var(--bluePrimaryColor);
      }
      code {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
          "Liberation Mono", "Courier New", monospace;
      }
    </style>
    <title>{formattedPageTitle}</title>
  </head>
  <body>
    <Header />
    <div
      style={{
        margin: "20px auto 100px",
        padding: "0 8px",
        maxWidth,
      }}
    >
      <slot />
    </div>
    <Footer />
  </body>
</html>
