---
import "./mainLayout.css";
import Header from "../components/Header.astro";
import { grayLightColor, maxWidth } from "../components/DefineVars.astro";

const {
  frontmatter,
  title,
  summary = "XMLファイルから動画を制作する技術です。",
  thumbnailUrl = "https://vsml.pigeons.house/logo.png",
} = Astro.props;

const pageTitle = title ? title : frontmatter.title;

const formattedPageTitle =
  pageTitle === "VSML" ? pageTitle : `${pageTitle} | VSML`;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:site_name" content="VSML" />
    <meta property="og:description" content={summary} />
    <meta property="og:image" content={thumbnailUrl} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{formattedPageTitle}</title>
  </head>
  <body style={{ backgroundColor: grayLightColor }}>
    <Header />
    <div style={{ margin: "20px auto 40px", padding: "0 8px", maxWidth }}>
      <slot />
    </div>
  </body>
</html>
